<div class="col-md-8">
    <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let error of errores">
            {{error}}
        </li>
    </ul>
    <button mat-flat-button color="primary" class="mb-3" [routerLink]="['/clientes']">
        <mat-icon>home</mat-icon>
    </button>
    <form>
        <div class="form-group" *ngIf="factura.cliente">
            <label for="cliente">Cliente</label>
            <input type="text" class="form-control" id="cliente" name="cliente"
                value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" disabled style="width: 55%;">
        </div>
        <div class="form-group">
            <label for="fechaEmision">Fecha Emisión</label>
            <input type="text" class="form-control" id="fechaEmision" name="fechaEmision"
                [(ngModel)]="factura.fechaEmision" style="width: 55%;">
        </div>
        <div class="form-group">
            <label for="producto">Producto</label>
            <div class="card">
                <div class="card-body">
                    <input type="text" class="form-control mb-3" placeholder="Búscar Producto..."
                        (keyup)="filtrarProductoPorNombre($event.target.value)" #bp style="width: 55%;">
                    <mat-selection-list #productos [multiple]="false"
                        (selectionChange)="seleccionProducto(productos.selectedOptions.selected)"
                        (click)="bp.value = ''" style="width: 55%;">
                        <mat-list-option *ngFor="let producto of productosFiltrados" [value]="producto">
                            {{producto.nombre}}
                        </mat-list-option>
                    </mat-selection-list>
                    <table class="table table-sm table-hover mt-4" *ngIf="factura.items.length > 0"
                        style="width: 100%;">
                        <thead class="mat-header-cell">
                            <tr>
                                <td>Nombre</td>
                                <td>Precio</td>
                                <td>Stock</td>
                                <td>Cantidad</td>
                                <td>Precio Total</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of factura.items">
                            <tr>
                                <td>{{item.producto.nombre}}</td>
                                <td>{{item.producto.precio}}</td>
                                <td>{{item.producto.stock}}</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" id="cantidad"
                                        name="cantidad" min="1" max="{{item.producto.stock}}" value="{{item.cantidad}}"
                                        (change)="actualizarCantidad(item.producto.id, $event)">
                                </td>
                                <td>${{item.calcularPrecioTotal()}}</td>
                                <td>
                                    <button mat-mini-fab color="warn" (click)='eliminarItem(item.producto.id)'>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="h5 mt-3" *ngIf="factura.items.length > 0">Total: ${{factura.calcularTotal()}}</p>
                </div>
            </div>
        </div>
    </form>
    <button mat-flat-button color="accent" (click)='crear()' *ngIf="!factura.id else update">
        <mat-icon>check</mat-icon>
    </button>
    <ng-template #update>
        <button mat-flat-button color="accent" (click)='actualizar()'>
            <mat-icon>edit</mat-icon>
        </button>
    </ng-template>
</div>