<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" routerLink="/facturas">
        <img width="40" alt="Logo" src="../assets/img/money_48.png" />
        $
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/clientes" routerLinkActive="active">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/facturas" routerLinkActive="active">Facturas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/productos" routerLinkActive="active">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/categorias" routerLinkActive="active">Categorías</a>
            </li>
        </ul>
    </div>
</nav>